<hr/>
<%= if @current_user do %>
    <%= link "Account", to: Routes.user_settings_path(@conn, :edit), class: "navbar-item" %>
    <%= link "Log out", to: Routes.user_session_path(@conn, :delete), method: :delete, class: "navbar-item" %>
<% else %>
    <%= link "Log in", to: Routes.user_session_path(@conn, :new), class: "navbar-item" %>
<% end %>
