<%= if @current_user do %>
  Eingeloggt als <span class="has-text-weight-semibold"><%= @current_user.email %></span>
  <div class="buttons mt-3">
    <%= link "Settings", to: Routes.user_settings_path(@conn, :edit), class: "button" %>
    <%= link "Log out", to: Routes.user_session_path(@conn, :delete), method: :delete, class: "button" %>
  </div>
<% else %>
  <div class="buttons">
    <%= link "Log in", to: Routes.user_session_path(@conn, :new), class: "button" %>
  </div>
<% end %>
