$family-primary: 'Noto Sans';

// $table-cell-padding: 0.5em 1.5em;

$guide-color: hsla(233, 26%, 35%, 0.06);

$primary-dark: hsl(210, 73%, 15%);
$primary: hsla(243, 100%, 68%, 1);
$danger: hsl(0, 100%, 68%);